.container{
    width: 428px;
    height: fit-content;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 1em;
    
}
.inside-container{
    border: 1px solid #1E1E1E;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 5px;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.selected-container{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    min-height: 2.3em;
    position: relative;
}

.inside-container.active{
    outline: 2px solid #60A5FA;
}

.listbox,
.selected-container{
    padding: 8px;
    border-radius: 2px;
}

.selected-item{
    width: fit-content;
    background-color: #60A5FA;
    display: flex;
    gap: 3px;
    cursor: pointer;
    padding: 4px;
    border-radius: 2px;
    justify-content: center;
    font-size: 0.8em;
    color: rgb(51, 51, 51);;
}

.select-item-close{
width: 16px;
height: 16px;
}

input{
    height: auto;
    width:"*";
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: #1E1E1E;
}

.listbox{
    border: 1px solid #1E1E1E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.listitem{
    padding: 8px;
    cursor: pointer;
    font-size: .9em;
    color: #1E1E1E;
}

.text-center{
    text-align: center;
    color: #606060;
    font-size: .9em;
    padding-bottom: 8px;
}

.select-item-close{
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
}

.select-item-close:hover{
    background-color: red;
    color: white;
}